@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --power2-out: linear( 0, 0.2688 9.91%, 0.3859 15%, 0.4917 20.19%, 0.5865 25.5%, 0.6705 30.93%, 0.7441 36.51%, 0.8075 42.26%, 0.8593 47.98%, 0.9022 53.93%, 0.9366 60.13%, 0.963 66.67%, 0.9812 73.4%, 0.9929 80.76%, 0.9986 88.89%, 1 );
}

.video-container {
    position: relative;
    width: %width%;
    height: %height%; /* Volle Höhe des Viewports */
    overflow: hidden;
}
  
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: %width%;
    min-height: %height%;
    width: %width%;
    height: %height%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
  
.eventItemStyle-bg-img {
    position: relative;
    z-index: 1;
    text-align: center;
    width: %width%;
    height: %height%;
}

.event-content{
    height: 100%;
    width: 100%;
}

.event-icon {
    position: absolute;
    top: %iconTranslateY%;
    left: %iconTranslateX%;
    transform: %iconTransform%;
}
.event-icon i {
    font-size:%iconScale%px !important;
    line-height: %iconScale%px !important;
    color: #cdbf92;
}
.event-icon i.event-type-follow {
    color: %followIconColor% !important; /* red */
}
.event-icon i.event-type-subscribe {
    color: %subscribeIconColor% !important; /* orange */
}
.event-icon i.event-type-subgift {
    color: %subgiftIconColor% !important; /* orange */
}
.event-icon i.event-type-cheer {
    color: %cheerIconColor% !important; /* pink */
}
.event-icon i.event-type-raid {
    color: %raidIconColor% !important; /* purple */
}
.event-icon i.event-type-hype-train {
    color: %hypeTrainIconColor% !important; /* blue */
}
.event-icon i.event-type-shoutout {
    color: %shoutoutIconColor% !important; /* blue */
}
.event-icon i.event-type-charity-donation {
    color: %charityDonationIconColor% !important; /* green */
}
.event-icon i.event-type-donation {
    color: %donationIconColor% !important; /* green */
}
.event-icon i.event-type-channel-points {
    color: %channelPointsIconColor% !important; /* cyan */
}
.event-icon i.event-type-superchat {
    color: %superChatIconColor% !important; /* deepblue */
}
.event-icon i.event-type-supersticker {
    color: %superStickerIconColor% !important; /* purple */
}

.event-text {
    position: absolute;
    display: block;
    top: %titleTranslateY%;
    left: %titleTranslateX%;
    transform: %titleTransform%;
    line-height: 1rem;
    white-space: nowrap;
}

.event-text span {
    
}

.event-sub-text {
    position: absolute;
    top: %numberTranslateY%;
    left: %numberTranslateX%;
    transform: %numberTransform%;
    line-height: 1rem;
    white-space: nowrap;
}

@keyframes timeline-entry {
    from {
        scale: 0.5;
        opacity: 0;
        transform: rotateX(-30deg);
    }
    to {
        scale: 1;
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* Single animation class */
.animate-timeline-entry {
    animation: timeline-entry 1s var(--power2-out) forwards;
}